@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 16px;
}

.tagcloud--item {
  color: #00ffffff;
  text-transform: uppercase;
}

.tagcloud--item:hover {
  color: #ff6347;
  cursor: pointer;
}

.constClass {
  color: #38bdf8;
}

.exportTextClass {
  color: #ef4444;
}

.yellowTextClass {
  color: #f8f16b;
}

.functionTextClass {
  color: #a78bfa;
}

.dotClass {
  color: #9ca3af;
}

.stringConsoleClass {
  color: #30b332;
}

.animated-container {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2s ease, transform 2s ease;
}

.animated-container.animate {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  .tagcloud {
    font-size: 12px;
  }
}
